  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      
    <div class="jumbotron">
      <div class="container">
            <h1><%= t('db_title') %></h1>
            <h2>【<%= t('trial_operation') %>】</h2>
            <p><%= simple_format(t('titlepageinfo')) %></p>
        <div class = "row">
            <div class="col-md-8">
            <%= link_to t('create_stamps'), new_stamp_path, class: "btn btn-primary btn-lg" %>
            </div>
            <div class="col-md-4 hidden-xs", align="right"><%= image_tag(asset_path("zosan_logo.png"), :size => "150x150") %>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <h2><%= t('search') %></h2>
          <%= form_tag({controller: :stamps, action: :search}, class: "form-inline") do %>
          <%= text_field_tag :keyword, '', size: '80%', class: "form-control", placeholder: t('stamp_search') %>
          <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          Search
          <% end %>
          <% end %><br />
        
          <%= form_tag({controller: :owners, action: :topsearch}, class: "form-inline") do %>
          <%= text_field_tag :keyword, '', size: '80%', class: "form-control", placeholder: t('owner_search') %>
          <%= button_tag(type: "submit", class: "btn btn-danger") do %>
            Search<% end %>
          <% end %><br />
          
          <%= form_tag({controller: :items, action: :topsearch}, class: "form-inline") do %>
          <%= text_field_tag :keyword, '', size: '80%', class: "form-control", placeholder: t('item_search') %>
          <%= button_tag(type: "submit", class: "btn btn-success") do %>
            Search
          <% end %>
        　<% end %>
        </div>
        <% if editor_signed_in? %>
        <div class="col-md-4">
          <h2><%= t('logged_in') %></h2>
          <p><%= simple_format(t('loggedin_info', manual: (link_to t('manual'),static_pages_manual_path))) %></p>
        </div>
        <% else %>
        <div class="col-md-4">
          <h2><%= t('editor_sign_up') %></h2>
          <p><%= simple_format(t('editor_info', manual: (link_to t('manual'),static_pages_manual_path))) %></p>
          <p><%= link_to t('editor_sign_up'), new_editor_registration_path, class: "btn btn-large btn-primary" %></p>
        </div>
        <% end %>
      </div>
      <hr>

      <footer>
        <p><%= t('copyrights') %></p>
        <p>&copy; 2015 Maiko Kimura.</p>
      </footer>
    </div><!-- /container -->      
  </body>
</html>