<h1>蔵書印情報の訂正連絡やその他のお問い合わせはこちら</h1>
　<p>注：エディター登録済みの方は，ログイン後，蔵書印情報の修正や削除をご自身で行っていただけます。</p>
 <%= form_for(@message) do |f| %>
    お名前<%= f.text_field :name %>
    メールアドレス <%= f.email_field :email %>
    <p>注：エディター登録済の方は，登録しているお名前とメールアドレスをご記入ください。</p>
    <div>
      <p>ご用件を選んでください。</p>
      <%= f.check_box :"蔵書印情報の修正/訂正", "システムの不具合の指摘", "その他のお問い合わせ", true, false %>
    </div>
    <div>
      <p>お問い合わせ内容を1000字以内で記述してください。</p>
      <%= f.text_area :content, :maxlength => "1000", :size => "40x10" %>
    </div>
      <%= f.submit %>
 <% end %>
