<h1>蔵書印情報の訂正連絡/<br />その他のお問い合わせ</h1>
<center><p class="bg-danger">エディター登録済みの方は，ログイン後，蔵書印情報の修正や削除をご自身で行っていただけます。</p></center>
 <%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">お名前</label>
      <div class="col-sm-7">
        <%= f.text_field :name, size: "5x5", class: "form-control", placeholder: "お名前" %>
      </div>
    </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">メールアドレス</label>
        <div class="col-sm-7">
           <%= f.email_field :email, size: "5x5", class: "form-control", placeholder: "メールアドレス" %>
           <br />
           注：エディター登録済の方は，登録しているお名前とメールアドレスをご記入ください。
        </div>
      </div>
    <div class="form-group">
        <label for="purpose" class="col-sm-3 control-label">お問い合わせの種類</label>
        <div class="col-sm-7">
        <%= f.select :purpose, [["蔵書印情報の訂正連絡", "zoshoin_teisei"], ["システムの不具合の指摘", "system_fuguai"], ["その他のお問い合わせ", "other_messages"]],  :prompt => "選択してください", class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
      <label for="message_body" class="col-sm-3 control-label">内容</label>
      <div class="col-sm-7">
        <%= f.text_area :content, size: "40x10", class: "form-control", placeholder: "内容" %>
      </div>
    </div>
      <center><%= f.submit("メールを送信", class: "btn btn-primary btn-lg") %></center>
    </div>
 <% end %>
   </div>
 </form>