			  <% if @owners.any? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-xs-1"><%= t('owner_id') %></th>
                <th class="col-xs-5"><%= t('owner') %></th>
                <th class="col-xs-2"><%= t('vap') %>1</th>
                <th class="col-xs-2"><%= t('vap') %>2</th>
                <th class="col-xs-2"><%= t('vap') %>3</th>
                <th class="col-xs-5"><%= t('history') %></th>
              </tr>
            </thead>
            <tbody>
              <% @owners.each do |f| %>
              <tr>
                <td><%= f.id %></td>
                <td><%= f.aap %></td>
                <td><%= f.vap1 %></td>
                <td><%= f.vap2 %></td>
                <td><%= f.vap3 %></td>
                <td><%= auto_link(f.history, :html => { :target => '_blank' }) do |text|
                truncate(text, :length => 50) end %></td>
                <td id="owner-<%= f.id %>">
                  <% if @stamp.own?(f) %>
                  <%= render partial: 'not_owned', locals: {owner: f} %>
                  <% else %>
                  <%= render partial: 'owned', locals: {owner: f} %>
                  <% end %>
                </td>
              <% end %>
            </tbody>
          </table>
                <% if @stamp.present? %>
                <%= link_to "蔵書印情報へ戻る", stamp_path(@stamp) %>
                <% end %>
        <% end %>