<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-1"><%= t('owner_id') %></th>
      <th class="col-xs-2"><%= t('owner') %></th>
      <th class="col-xs-2"><%= t('vap') %>1</th>
      <th class="col-xs-2"><%= t('vap') %>2</th>
      <th class="col-xs-2"><%= t('vap') %>3</th>
      <th class="col-xs-2">NDLNA</th>
      <th class="col-xs-5"><%= t('history') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @owner.id %></td>
      <td><%= @owner.aap %></td>
      <td><%= @owner.vap1 %></td>
      <td><%= @owner.vap2 %></td>
      <td><%= @owner.vap3 %></td>
      <td><%= auto_link(@owner.ndlna, :html => { :target => '_blank' }) do |text|
                truncate(text, :length => 50) end %></td>
      <td><%= auto_link(@owner.history, :html => { :target => '_blank' }) do |text|
                truncate(text, :length => 50) end %></td>
    </tr>
  </tbody>
</table>
    <% if @stamp.present? %>
      <div id="owner-<%= @owner.id %>">
        <% if @stamp.own?(@owner) %>
          <%= render partial: 'not_owned', locals: {owner: @owner} %>
        <% else %>
          <%= render partial: 'owned', locals: {owner: @owner} %>
        <% end %></div>
      <%= link_to "蔵書印情報へ戻る", stamp_path(@stamp) %>
    <% else %>
      <%= link_to "別の印主を新規登録", new_owner_path %>
    <% end %>
    
    <% if editor_signed_in? %>
      <%= link_to "edit", edit_owner_path(@owner) %>
    <% end %>
  
    <% if editor_signed_in? %>
      <%= link_to "delete", owner_path(@owner), method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>