<div class="container">
  <% if @stamp.items.exists? %>
  　<% @stamp.items.each do |f| %>
    <div id="itm-<%= f.id %>" class="panel panel-danger">
       <div class="panel-heading">
           <h5 class="panel-title"><%= t('item_id') %>:<%= f.id %></h5>
       </div>
       <div class="panel-body">
        <%= t('title') %>:<%= f.title %><br />
　　　  <%= t('author') %>:<%= f.author %><br />
　　　  <%= t('year') %>:<%= f.year %><br />
　　　  <%= t('holding') %>:<%= f.holding %><br />
　　　  <%= t('note') %>:<%= f.note %><br />
        <% if editor_signed_in? %>
                <%= link_to t('revise_item'), edit_item_path(id: f, stamp_id: @stamp.id) %>
            <% end %>
      </div>
    </div>
    <% end %>
      <%= t('add_item') %>:
        <%= form_tag({controller: :items, action: :search}, class: "form-inline") do %>
        <%= text_field_tag :keyword, '', size: '100%', class: "form-control", placeholder: t('item_search') %>
        <%= hidden_field_tag :stamp_id, @stamp.id %>
        <%= button_tag(type: "submit", class: "btn btn-default") do %>
            Search
        <% end %>
        <% end %>
  <% else %>
    <%= form_tag({controller: :items, action: :search}, class: "form-inline") do %>
        <%= text_field_tag :keyword, '', size: '100%', class: "form-control", placeholder: t('item_search') %>
        <%= hidden_field_tag :stamp_id, @stamp.id %>
        <%= button_tag(type: "submit", class: "btn btn-default") do %>
            Search
        <% end %>
        <% end %>
  <% end %>
</div>