<h1><%= t('create_stamps') %></h1>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('tejun') %></h3>
  </div>
  <div class="panel-body">
    1. まずこの画面から蔵書印情報を登録してください <br />
    2. 登録完了後の画面から，印主情報を検索してリンクボタンをクリックしてください <br />
    3. 既存の印主情報が無い場合には，印主情報を新規登録する画面へジャンプしますので，新規登録後，リンクボタンをクリックしてください <br />
    4. 次に，蔵書印が押されている資料情報を登録します。資料情報を検索してリンクボタンをクリックしてください <br />
    5. 既存の資料情報が無い場合には，資料情報を新規登録する画面へジャンプしますので，新規登録後，リンクボタンをクリックしてください <br /><br />
    *「リンクを解除」ボタンを押すと，リンクが解除されます（データそのものが削除されるわけではありません）
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
     <%= form_for(@stamp, html: {class: "form-horizontal"}) do |f| %>
   <% if @stamp.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @stamp.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
    <% end %>
        <div class="form-group">
            <label for="face_string" class="col-sm-3 control-label"><%= t('face_string') %></label>
            <div class="col-sm-7">
                <%= f.text_field :face_string, size: "5x5", class: "form-control" %>
             </div>
        </div>
        <div class="form-group">
            <label for="stamp_image" class="col-sm-3 control-label"><%= t('stamp_image') %></label>
            <div class="col-sm-7">
                <%= f.file_field :stamp_image, class: "form-control" %>
             </div>
        </div>
        <div class="form-group">
            <label for="image_source" class="col-sm-3 control-label"><%= t('image_source') %></label></label>
            <div class="col-sm-7">
                <%= f.text_field :image_source, size: "5x10", class: "form-control" %>
             </div>
        </div>
        <div class="form-group">
            <label for="note" class="col-sm-3 control-label"><%= t('note') %></label>
            <div class="col-sm-7">
                <%= f.text_area :note, size: "40x10", class: "form-control" %>
             </div>
        </div>
      <center><%= f.submit "submit", class: "btn btn-large btn-primary" %></center>
    <% end %>
  </div>
</div> 