        <%= form_tag({controller: :stamps, action: :search}, class: "form-inline") do %>
        <%= text_field_tag :keyword, '', size: '100%', class: "form-control", placeholder: "蔵書印を検索" %>
        <%= button_tag(type: "submit", class: "btn btn-default") do %>
            Search
        <% end %>
        <% end %>
        <% if @stamps.any? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-xs-1">蔵書印id</th>
                <th class="col-xs-2">蔵書印文</th>
                <th class="col-xs-3">蔵書印画像</th>
                <th class="col-xs-2">印主</th>
                <th class="col-xs-3">資料名</th>
                <th class="col-xs-1">資料所蔵</th>
              </tr>
            </thead>
            <tbody>
              <% @stamps.each do |f| %>
              <tr>
                <td><%= link_to f.id, stamp_path(f) %></td>
                <td><%= f.face_string %></td>
                <td><%= image_tag f.stamp_image.thumb.url %></td>
            </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>