
        <%= t('stamp_search') %><%= form_tag({controller: :stamps, action: :search}, class: "form-inline") do %>
          <%= text_field_tag :keyword, '', size: '80%', class: "form-control", placeholder: t('stamp_search') %>
          <%= button_tag(type: "submit", class: "btn btn-default") do %>
            Search
          <% end %>
        <% end %>
        
        <% if @stamps.any? %>
        <h3>検索結果:<%= @stamps.count %>件</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-xs-1"><%= t('stamp_id') %></th>
                <th class="col-xs-2"><%= t('face_string') %></th>
                <th class="col-xs-2"><%= t('stamp_image') %></th>
                <th class="col-xs-1"><%= t('owner') %></th>
                <th class="col-xs-2"><%= t('title') %></th>
                <th class="col-xs-2"><%= t('holding') %></th>
              </tr>
            </thead>
            <tbody>
              <% @stamps.order("created_at DESC").each do |f| %>
                <tr>
                  <td><%= link_to f.id, stamp_path(f) %></td>
                  <td><%= f.face_string %></td>
                  <td><% if f.stamp_image? %>
　　                    <%= image_tag f.stamp_image.thumb.url %>
　                    <% else %>
　　                    <%= image_tag(asset_path("no-image.png"), :size => "100x100") %></td>
      　               <% end %>
                  <td><% f.owners.each do |owner| %>
                      <%= owner.aap %>(id:<%= link_to owner.id, owner %>)<br /><% end %></td>
      　           <td><% f.items.each do |item| %>
      　               <%= item.title %>(id:<%=link_to item.id, item %>)<br /><% end %></td>
      　           <td><% f.items.each do |item| %>
      　               <%= item.holding %><br /><% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>