			  <% if @items.any? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-xs-1">資料id</th>
                <th class="col-xs-3">書名</th>
                <th class="col-xs-2">著者名</th>
                <th class="col-xs-2">刊年</th>
                <th class="col-xs-2">所蔵</th>
                <th class="col-xs-2">注記</th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |f| %>
              <tr>
                <td><%= f.id %></td>
                <td><%= f.title %></td>
                <td><%= f.author %></td>
                <td><%= f.year %></td>
                <td><%= f.holding %></td>
                <td><%= f.note %></td>
                <td id="item-<%= f.id %>">
                  <% if @stamp.own?(f) %>
                  <%= render partial: 'not_stamped_at', locals: {item: f} %>
                  <% else %>
                  <%= render partial: 'stamped_at', locals: {item: f} %>
                  <% end %>
                </td>
              <% end %>
            </tbody>
          </table>
        <% end %>