<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-1"><%= t('item_id') %></th>
      <th class="col-xs-2"><%= t('title') %></th>
      <th class="col-xs-1"><%= t('author') %></th>
      <th class="col-xs-1"><%= t('year') %></th>
      <th class="col-xs-1"><%= t('publisher') %></th>
      <th class="col-xs-2"><%= t('holding') %></th>
      <th class="col-xs-5"><%= t('note') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @item.id %></td>
      <td><%= @item.title %></td>
      <td><%= @item.author %></td>
      <td><%= @item.year %></td>
      <td><%= @item.publisher %></td>
      <td><%= @item.holding %></td>
      <td><%= @item.note %></td>
    </tr>
  </tbody>
</table>
  <% if @stamp.present? %>
    <div id="item-<%= @item.id %>">
    <% if @stamp.stamped?(@item) %>
      <%= render partial: 'not_stamped_at', locals: {item: @item} %>
    <% else %>
      <%= render partial: 'stamped_at', locals: {item: @item} %>
    <% end %></div>
    <%= link_to "蔵書印情報へ戻る", stamp_path(@stamp) %>
 <% end %>

    <% if editor_signed_in? %>
      <%= link_to "edit", edit_item_path(@item) %>
    <% end %>
  
    <% if editor_signed_in? %>
      <%= link_to "delete", item_path(@item), method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>