<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "蔵書印DB「Zo-san」", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",   '#' %></li>
        <li><%= link_to "蔵書印検索",   '#' %></li>
    　　<li><%= link_to "蔵書印登録",   '#' %></li>
    　　<li><%= link_to "お問い合わせ",   '#' %></li>
        <li><%= link_to "エディターログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>